/calculator.py
/calc_den.py
/english
/homework_module_6 — копия (2).py
/homework_module_6_1.py
/Intensive English Grammar Python.pdf
/module 3.py
/module 4.py
/module 5.py
/module 5.txt
/module 6.py
/module 6.txt
/Python .pdf
/Screenshot_1.png
/Screenshot_2.png
/storage.py
/task 10 of module 2.png
/task 11 of module 2.png
/task 12 of module 2.png
/task 13 of module 2.png
/task 13 of module 2_1.png
/task 13 of module 2_2.png
/task 13 of module 2_3.png
/task 13 of module 5.png
/task 15 of module 2.png
/task 15 of module 2.py
/task 7 of module 2.png
/task 8 of module 2.png
/task 8 of module 3.png
/task 9 of module 2.png
/test.py
/Untitled-1.py
/Гарячі клавіші VSCode.pdf
/Зроби це зараз, розділ 16-18.docx
/Зроби це зараз.pdf
/Постановка кар`єрної мети.odt
/Фінальний вебінар Python марафону (24.09.2023).pdf